{% extends "base.html" %}

{% block content %}
<body>
    <section class="section">
        <div class="container">
            <h1 class="title"><u>Create-Blog</u></h1>
            <form method="POST" action="">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" name="title" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Content</label>
                    <div class="control">
                        <textarea class="textarea" name="content" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
{% endblock %}
