{% extends "base.html" %}

{% block content %}
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Blog</h1>

            <div class="container">
                <div class="columns is-multiline">
                    {% for blog in blog_list %}
                    <div class="column is-one-third">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <h2 class="title">{{ blog.title }}</h2>
                                        <p>{{ blog.content }}</p>
                                        <p><strong>Author:</strong> {{ blog.author_id.username }}</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
</body>
{% endblock %}